body {
	padding:100px;
}
div.navbar div.navbar-inner {
	padding-left:20px;
}
div.navbar div.navbar-inner ul.right {
	float:right;
}
div.alert {
	margin:10px;
}
input.error {
	border:1px solid red;
}
input.note_title {
	width:400px;
}
textarea.note_content {
	width:400px;
	height:300px;
}